<div class="tab-content">
        <div class="tab-pane fade show active" id="tab1">
                <div class="card">
                        <h5 class="card-header">About</h5>
                        <div class="card-body">
                            <p class="card-text">
                                <app-maintab1></app-maintab1>
                            </p>
                        </div>
                        <div class="card-footer">
                            2019 &copy; Veggie World 
                        </div>
                    </div>
        </div>
        <div class="tab-pane fade" id="tab2">
                <div class="card">
                        <h5 class="card-header">Squarefoot Gardens</h5>
                        <div class="card-body">
                            <p class="card-text">
                                Card content
                            </p>
                        </div>
                        <div class="card-footer">
                            Card footer
                        </div>
                    </div>
        </div>

        <div class="tab-pane fade" id="tab3">
                <div class="card">
                        <h5 class="card-header">Recipes</h5>
                        <div class="card-body">
                            <p class="card-text">
                                Card content
                            </p>
                        </div>
                        <div class="card-footer">
                            Card footer
                        </div>
                    </div>
        </div>

        <div class="tab-pane fade" id="tab4">
                <div class="card">
                        <h5 class="card-header">Search for vegs'</h5>
                        <div class="card-body">
                            <p class="card-text">
                                Card content
                            </p>
                        </div>
                        <div class="card-footer">
                            Card footer
                        </div>
                    </div>
        </div>

        <div class="tab-pane fade" id="tab5">
                <div class="card">
                        <h5 class="card-header">Help</h5>
                        <div class="card-body">
                            <p class="card-text">
                                Card content
                            </p>
                        </div>
                        <div class="card-footer">
                            Card footer
                        </div>
                    </div>
        </div>
    </div>
