<div class="container-fluid">

    <!--  progress bar -->

    <!-- <app-progress-bar></app-progress-bar> -->

    <!-- tab section with content -->
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable" id="tabs-85645">

                <!-- Menu title -->

                    <ul class="nav nav-pils justify-content-center" id="tabtopmenu" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab1" aria-controls="tab1" aria-selected="true">About</a>
                        </li><li class="nav-item">
                            <a class="nav-link" href="#tab2" aria-controls="tab2" aria-selected="false" data-toggle="tab">Squarefoot gardens</a>
                        </li><li class="nav-item">
                            <a class="nav-link" href="#tab3"  aria-controls="tab3" aria-selected="false" data-toggle="tab">Recipes</a>
                        </li><li class="nav-item">
                            <a class="nav-link" href="#tab4"  aria-controls="tab4" aria-selected="false" data-toggle="tab">Seek vegs</a>    
                        </li><li class="nav-item">
                            <a class="nav-link" href="#tab5"  aria-controls="tab5" aria-selected="false" data-toggle="tab">Help</a>
                        </li>
                    </ul>

                <!-- Content from menu tabs -->
                
                   
                </div>


                
            </div>
        </div>

    </div>